/*Styles Por Defecto*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;

}

/*Styles De Contenedores*/
.container {
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow-x: hidden;
}

/*Cards*/

.personal {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    display: grid;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: 100px;
    grid-gap: 5px;
    overflow-y: auto;
    padding: 10px;
}

/*Scroll styles*/

::-webkit-scrollbar {
    width: 15px;
    background: rgb(244, 240, 240);
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.btn_alarm {
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ff0000;
    outline: none;
    border: none;
    margin: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s ease;
    border: 1px solid black;
}

.btn_alarm:hover {
    transition: .5s ease;
    background-color: black;
}

.addpersonal {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



.addboton {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    background: #8B0000;
    border-radius: 100px;
    cursor: pointer;
}

.cardtotal {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
}

.cardinfoarea {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    border-radius: 15px;
    border: solid 1px #ccc;
    background: white;
    font-size: 15px;
}

.cardasignar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.cardasignar button {
    width: 30%;
    height: 70px;
    background: none;
    border-style: none;
}

.cardasignar svg {
    width: 60px;
    height: 60px;
}

/*Camas*/

.mostrarcamas {
    width: 70%;
    max-height: 100%;
    background: white;
    overflow-y: auto;
    display: grid;
    /* grid-template-columns: repeat(3, 300px); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    grid-template-rows: repeat(4, auto-fit, minmax(200px, 1fr));
    padding: 20px;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: red; */
}

/* MODAL */

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background: white;
    background-color: white;
    border: solid 1px #ccc;
    box-shadow: 1px 1px 4px 4px #ccc;
    color: #ccc;
    border-radius: 10px;
    gap: 1rem;
}

.barrasuperior {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
}

.barrasuperior p {
    padding-left: 20px;
}

.botonmodal {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-style: none;
    cursor: pointer;
}

.search_container {
    display: flex;
    align-items: center;
    border: 1px solid #30363d;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #010409;
}

.search_icon {
    margin-right: 10px;
    fill: #888;
}

.input_text {
    color: #6e7681;
    background-color: #010409;
    border: none;
    outline: none;
    flex: 1;
}

.userList {
    border-radius: 10px;
    border: 1px solid #30363d;
    width: 100%;
    list-style-type: none;
    height: 260px;
    max-height: 260px;
    overflow-y: scroll;
    background-color: #03060c;
    color: white;
}

.modalContainer>button {
    width: 60%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-style: none;
    background: #8B0000;
    border-radius: 100px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width: 1100px) {
    .container {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .cardtotal {
        margin-top: 1rem;
        min-height: 600px;
        height: fit-content;
        width: 100%;
        gap: 2rem;
    }

    .cardinfoarea {
        height: 300px;
        width: 95%;
    }

    .cardasignar {
        display: grid;
        place-items: center;
    }

    .personal {
        margin-top: 2rem;
        display: grid;
        place-items: center;
        /* background-color: red; */
        height: fit-content;
        overflow: visible;
    }

    /* aca */

    .mostrarcamas {
        width: 100%;
        height: fit-content;
    }

    .modalContainer {
        color: white;
        width: 95%;
    }

}